@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
/* You can add global styles to this file, and also import other style files */

#header {
  position: relative;
  min-height: 150px;
}

#header-content {
  position: absolute;
  bottom: 0;
  left: 36%;
  font-family: "Times New Roman", sans-serif;
  font-size: 40px;
  opacity: 0.5;
  margin-bottom: 5px;
}

#header, #header * {
  background: rgba(40, 40, 100, 0.25);
}
.main-div {
  background-image: none;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Corsiva Hebrew", fantasy;

}
::ng-deep .mat-input-wrapper{
  width:400px !important;
}
