<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="header" *ngIf="router.url == '/forgot-password'" >
  <h2>Forgot Password</h2>
  <button mat-button routerLink="/social-media-login"><mat-icon>home</mat-icon></button>
</div>
<div class="column1" *ngIf="router.url == '/forgot-password'"></div>
<div class="column2" *ngIf="router.url == '/forgot-password'">

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <mat-label>
        Reset Via Email:<br><br>
        <input type="email" formControlName="email" style="width: 390px;height: 30px">
      </mat-label>
    <br><br>
    <button type="submit" style="width: 100px;height: 30px; margin-left: 150px" [disabled]="!profileForm.valid" (click)="save()" routerLink="/">Submit</button>

<br><br>

</form>
</div>
</body>
</html>
