<div id="fab-dismiss"
     *ngIf="fabTogglerState==='active'"
     (click)="onToggleFab()">
</div>
<div class="fab-container">
  <button mat-fab class="fab-toggler"
          (click)="onToggleFab()">
    <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i> <!-- Animation here -->
  </button>
  <div [@speedDialStagger]="buttons.length"> <!-- and here -->
    <button *ngFor="let btn of buttons ; let i=index"
            mat-fab
            class="fab-secondary"
            color="secondary" >
      <i class="material-icons md-tooltip--top" data-md-tooltip=#{btn.icon}>{{btn.icon}}</i>
    </button>
  </div>
</div>
